{% if user.is_authenticated %}
<a href="{% url 'index'  user.id %}">Home</a><br>
<a href="{% url 'question'  user.id %}">See Your Questions</a><br>
<a href="{% url 'poll' user.id %}">Create a Poll</a><br>
<a href="{% url 'signout' user.id %}">LogOut</a><br> 




{% comment %} {% for data in data %}

<h3>{{ data.question }}</h3><br>
{% for key,value in data.vote_count.items %}
{{ key }}   Number of Votes: {{ value }}<br>
{% endfor %}<br>
{% for key,value in data.votes.items %}
{% if key == data.user %}
<br>your choosen option: {{ value }}
{%endif%}
{% endfor %}
{% endfor %} {% endcomment %}

{% if data %}

{% for data in data %}
<h3>{{ data.question }}</h3><br>
{% if data.vote_count %}
{% for ke,val in data.votes.items %}    
{% for key,value in data.vote_count.items %}
{% if ke == data.name %}
{% if key ==  val %}
{{ key }} : {{ value }}<br>
{% else %}
{{ key }} : {{ value }} <a href="{% url 'choice' user=user.id q_id=data.q_id key=key %}">Select</a>  <br>  
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% for ke,val in data.votes.items %}
{% if ke ==  data.name  %}
<br>your choosen option: {{ val }}<br> <a href="{% url 'answer_delete' user=user.id q_id=data.q_id key=ke %}">Delete Choice</a>
{%endif%}

{% endfor %}


{% endif %}


{% endfor %}
{% else %}
<h3> You have not answered any Question </h3>
{% endif %}
{% endif %}