<a href="{% url 'index'  user.id %}">Home</a><br>
<a href="{% url 'question'  user.id %}">See Your Questions</a><br>
<a href="{% url 'answer' user.id %}">See Your Answered Questions</a><br>
<a href="{% url 'poll' user.id %}">Create a Poll</a><br>
<a href="{% url 'signout' user.id %}">LogOut</a><br> 

{% for data in data %}
<h3>{{ data.question }}</h3><br>
{% if data.vote_count %}
{% for key,value in data.vote_count.items %}
{% if key ==  val %}
{% for ke,val in data.votes.items %}
{% if ke == data.name %}
{{ key }} : {{ value }}<br>
{% endif %}
{% endfor %}

{% else %}
{{ key }} : {{ value }} <a href="{% url 'choice' user=user.id q_id=data.q_id key=key %}">Select</a>  <br>  
{% endif %}
{% endfor %}
{% for ke,val in data.votes.items %}
{% if ke ==  data.name  %}
<br>your choosen option: {{ val }}<br>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}