{% if user.is_authenticated %}
<a href="{% url 'index'  user.id %}">Home</a><br>
<a href="{% url 'question'  user.id %}">See Your Questions</a><br>
<a href="{% url 'answer' user.id %}">See Your Answered Questions</a><br>
<a href="{% url 'signout' user.id %}">LogOut</a><br> 

<form method="post" >

    {% csrf_token %}
    
    {{ form.as_p }}
    
    <input type="submit" value="Submit">

</form>
{% endif %}