<a href="{% url 'index'  user.id %}">Home</a><br>
<a href="{% url 'answer' user.id %}">See Your Answered Questions</a><br>
<a href="{% url 'poll' user.id %}">Create a Poll</a><br>
<a href="{% url 'signout' user.id %}">LogOut</a><br>



{% if data %}
{% for data in data %}
<h3>{{ data.question }}</h3><br>
{% if data.vote_count %}
{% for key,value in data.vote_count.items %}
{% for ke,val in data.votes.items %}
{% if ke == data.name %}
{% if key ==  val %}
{{ key }} : {{ value }}<br>
{% else %}
{{ key }} : {{ value }} <a href="{% url 'choice' user=user.id q_id=data.q_id key=key %}">Select</a>  <br>  
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
<a href="{% url 'delete' user=user.id q_id=data.q_id %}">Delete Question</a>
{% for ke,val in data.votes.items %}
{% if ke ==  data.name  %}
<br>your choosen option: {{ val }}<br>
{%endif%}

{% endfor %}


{% endif %}


{% endfor %}

{% else %}
<h3>You have not asked any Question<h3>
{% endif %}
